extends ../layouts/main.pug
block stylesheet
  link(rel="stylesheet",href="/css/forms.css")
block content
  main
    form.login-form(action="/setpass",method="POST")
      if inValidPassword
        h3.error #{inValidPassword}
      input(type="hidden", name="_csrf" , value=csrfToken ,id="csrf")
      input(type="hidden", name="userID" , value=userID ,id="user")
      input(type="hidden", name="token" , value=token ,id="token")
      div.form-control.login#loginForm
        label(for="password") Set New Password 
        input(type="password" ,name="password", id="password")
        button.btn(type="submit") Reset Password