form(action="/cart/",method="POST")
  input(type="hidden", name="_csrf" , value=csrfToken ,id="csrf")
  input(type="hidden", name="productID", value=product.ProductTblRefID)
  button.btn(type="submit") Add to Cart