doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")
    link(rel="icon" ,type="image/x-icon" ,href="/images/favicon.ico")
    block stylesheet
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a(href="/" class=(path==='/shop'?'active':'')) Shop
          li.main-header__item
            a(href="/products"  class=(path==='/products'?'active':'')) Products
          if isAuthenticate 
            li.main-header__item
              a(href="/cart"  class=(path==='/cart'?'active':'')) Cart
            li.main-header__item
              a(href="/orders"  class=(path==='/orders'?'active':'')) Orders
            li.main-header__item
              a(href="/admin/add-product"  class=(path==='/admin/add-product'?'active':'')) Add Product
            li.main-header__item
              a(href="/admin/products"  class=(path==='/admin/products'?'active':'')) Admin Products 
            li.main-header__item.login
              form(action="/logout", method="post")
                input(type="hidden", name="_csrf" , value=csrfToken ,id="csrf")
                input(type="hidden", name="")
                button(type="submit" class=(path==='/logout'?'active':'')) Logout
          else
            li.main-header__item.login
              a(href="/login"  class=(path==='/login'?'active':'')) Login
    block content