.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color: #00695c;
}

.form-control.login{
    display: block;
}
.form-control.signup{   
    display: none;
}
.login-form,.signUp-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
  }

.signLink,.loginLink{
    font-size: 16px;
    font-weight: 500;
}

.signLink span,.loginLink span{
    color: #00695c;
    font-weight: 600;
    cursor: pointer;
}

.signLink span:hover,
.loginLink span:hover
{
    text-decoration: underline;
}