* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.title {
  text-align: center;
  font-size: 38px;
  margin: 5px auto;
  padding: 10px 0;
  width: 60%;
  border-bottom: 2px solid #00695c;
}
.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px;
  width: 100vw;
  margin-top: 30px;
}
.info .product-img {
  width: 40%;
  margin: 5px;
}
.info .product-img img {
  width: 100%;
} 
.info .product-desc {
  align-self: self-start;
  width: 60%;
  margin: 0 5px;
}
.info .product-desc .desc {
  width: 80%;
}
.info .product-desc .price {
  color: #00695c;
  font-weight: 600;
}
.btn {
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 5px;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}
