.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  border-bottom: 5px solid #00695c;
  margin: 10px 0;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.error {
  background-color: rgba(208, 110, 110, 0.492);
  padding: 0 10px;
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 05);
}

.error{
    color: rgb(255, 0, 0);
    font-weight: 600;
    border: red solid 1px;
    padding: 2px 5px;
    background-color: rgb(248, 209, 209);
    font-size: 15px;
}
.success ,.message .success{
  font-weight: 500;
  color: #055e05;
  border: 1px solid #055e05;
  padding: 2px 5px;
  margin: 0 auto;
  background: #bdf8bd;
  font-weight: 600;
}
