extends ../layouts/main.pug
block stylesheet 
  link(rel="stylesheet", href="/css/product-detail.css")
block content
  main  
    h3.title #{product.ProductName}
    .info
      .product-img 
        img(src="/"+product.ProductImg)
      .product-desc 
        h3.desc #{product.ProductDesc}
        h2.price $#{product.ProductPrice}
        if isAuthenticate
          include ../layouts/add-to-cart.pug